<h2>Edit <%= @lawyer.name %>:</h2>
<% if flash.has?(:message) %>
  <h3 style="color:red;"><%= flash[:message] %></h3>
<% end %>
<form class="not-button" action="/lawyers/<%= @lawyer.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p><label for="name">Lawyer's Name:</label>
  <input type="text" name="lawyer[name]" id="name" value="<%= @lawyer.name %>" required></p>
  <p><label for="LGBTQ_friendly?">Is the lawyer LGBTQ friendly?</label><br>
  <input type="radio" name="lawyer[LGBTQ_friendly?]" value="Yes" <% if @lawyer.LGBTQ_friendly? == "Yes" %>checked<% end %> required>Yes<br>
  <input type="radio" name="lawyer[LGBTQ_friendly?]" value="No" <% if @lawyer.LGBTQ_friendly? == "No" %>checked<% end %>required>No<br>
  <input type="radio" name="lawyer[LGBTQ_friendly?]" value="Not sure" <% if @lawyer.LGBTQ_friendly? == "Not sure" %>checked<% end %>required>Not sure<br></p>
  <p><label for="phone_number">Phone Number</label>
  <input type="text" name="lawyer[phone_number]" value="<%= @lawyer.format_phone %>" id="phone_number"></p>
  <p><label for="website">Website</label>
  <input type="text" name="lawyer[website]" id="website" value="<%= @lawyer.website %>"></p>
  <p><label for="cost">Cost</label><br>
  <input type="radio" name="lawyer[cost]" value="free" <% if @lawyer.cost == "free" %>checked<% end %>>Free<br>
  <input type="radio" name="lawyer[cost]" value="reduced-fee" <% if @lawyer.cost == "reduced-fee" %>checked<% end %>>Reduced-fee (sliding scale, unbundled services, etc.)<br>
  <input type="radio" name="lawyer[cost]" value="private" <% if @lawyer.cost == "private" %>checked<% end %>>Private attorney with no discounts<br></p>
  <p><label for="practice_areas">What practice areas does the lawyer serve?</label><br>
    <em>Check as many as apply and/or add a new practice area below</em>
  <% PracticeArea.alpha.each do |area| %>
    <br><input type="checkbox" name="practice_areas[]" value="<%= area.id %>" <% if @lawyer.practice_areas.include?(area) %>checked<% end %>> <%= area.name.capitalize %>
  <% end %>
  <p><label for="new_practice_area">New practice area:</label>
  <input type="text" name="practice_area[name]" id="new_practice_area"></p>
  <p><input class="button" type="submit" value="Update lawyer"></p>
</form>
