<h2>LGBTQ Lawyers List</h2>
<em>Looking for a legal aid or bar association referral? Head over to the <a href="https://www.lawhelpmn.org/providers-and-clinics" target="_blank">LawHelpMN.org Directory</a></em>
<hr>
<% if flash.has?(:message) %>
  <h3 style="color:red;"><%= flash[:message] %></h3>
<% end %>

<% sorted_lawyers = Lawyer.all.sort {|a, b| a.name <=> b.name} %>
<% sorted_lawyers.each.with_index(1) do |lawyer, i| %>
  <div class="lawyer-block">
    <h3><%= i %>. <%= lawyer.name %></h3>
    <p><strong>LGBTQ-friendly?</strong> <%= lawyer.LGBTQ_friendly? %></p>
    <p><strong>Phone Number:</strong> <%= lawyer.phone_number != nil ? lawyer.format_phone : "none provided"%></p>
    <p><strong>Website:</strong> <% if lawyer.website != "" %><a href="<%= lawyer.website %>" target="_blank"><%= lawyer.website %></a><% else %>none provided<% end %></p>
    <p><strong>Cost:</strong> <%= lawyer.cost != nil ? lawyer.cost : "not provided"%></p></a>
    <p><strong>Practice Areas:</strong>
    <% if !lawyer.practice_areas.empty? %>
      <ul><% lawyer.alpha_practice_areas.each do |area| %>
        <li><%= area.name.capitalize %></li>
      <% end %></ul>
    <% else %>
      No practice areas added yet!</p>
    <% end %>
    <div>
      <% if lawyer.user == current_user %>
        <a href="/lawyers/<%= lawyer.slug %>/edit"><button class="lawyer-button" type="button">Edit</button></a>
        <form action="/lawyers/<%= lawyer.slug %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="lawyer-button" type="submit" value="Delete">
        </form>
      <% end %>
    </div>
  </div>
<% end %>
